/*
 * style sheet for the devdaily.com "calendar" jsp's.
 */

body#regular_page, body#print_view_page {
  font: 0.8em Verdana;
  text-align: center;
}

body#regular_page #calendar_main_div {
  text-align: center;
  padding-top: 60px;
}

#calendar_main_div{
	
}

#calendar_print_view_main_div {
}

.month_year_header {
	text-align: center;
	color: black;
	font-style: italic;

}

body#regular_page .month_year_header {
  font: 0.9em Verdana;
  padding: 1em;
}

body#print_view_page td.month_year_header {
  font: 1.2em Verdana;
}

body#print_view_page td.day_cell {
  font-size: 0.9em;
}

#calendar_table {
  border-style: solid;

}

#calendar_nav_table {
  padding-top: 1.5em;

}

td#prev_link, td#next_link, td#link_to_month_view {
  vertical-align: middle;
}

#prev_link {
  text-align: left;
 }

#link_to_month_view {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

#next_link {
  text-align: right;
}

.week_header_row {
	height: 20;
}

.week_data_row {
	  text-align: center;
  vertical-align: middle;
  font-style: bold;
}

.th_day_cell {
}

body#regular_page, .day_cell, .empty_day_cell, .today_cell {
  text-align: center;
  vertical-align: top;
}

body#print_view_page  {
  text-align: center;
  vertical-align: top;
}

.day_cell{
	width: 125px;
	height: 100px;
}

.empty_day_cell {
	border-style: inset;
}

.day_cell {
	border-style: inset;
	
}

.today_cell {
	color: red;
}

.link_to_month_view_table {
}

.link_to_month_view_table_row {
}

.link_to_month_view_table_cell {
}

.submit_button {
}

#day_tasks, #today_tasks{
	width: 100%;
	border: 2px;
}


 /**
 This stylesheet is part of the java script calendar and date picker
  **/
#calender {
	width: 200px;
	font-family: ms sans serif, sans serif;
	font-size: 7pt;
	}

#calenderTable {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: #EEE;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	}

#calenderTableHead TR {
	background-color: #5FB404;
	}

#calenderTableDays TR {
	background-color: #B40404;
	color: #E6E6E6;
	}

.normalDay {
	border: 1px dotted black;
	cursor: pointer;
	}

.hlDay {
	border: 1px black;
	background-color: #585858;
	color: #E6E6E6;
	cursor: pointer;
	}

.toDay {
	border: 1px solid #E70;
	background-color: #FD8;
	color: #E70;
	font-weight: bold;
	cursor: pointer;
	}

.choosenDay {
	border: 1px #000000;
	background-color: #585858;
	color: #E6E6E6;
	font-weight: bold;
	cursor: pointer;
	}





