body {
	font: 100%/1.4 Calibri,Arial, Helvetica, sans-serif;
	background: #D8D8D8;
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
th, td {
    overflow: hidden;
    word-wrap:break-word;
    max-width:600px;
    max-height:150px; 
}
h1, h2, h3, h4, h5, h6 {
	color: #0000;
	margin-top: 0;	
	padding-right:15px;
	padding-left:15px;  
	font-size:16px;
}
p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px; 
	background: #FFF;
	margin: 0 auto;  
}
.header {
	background:;
}
.logo img
  {
  height:98;
  width:230px;
  float:left;
 } 
.rightlogo img
  {
  height:98;
  width:230px;
  float:right;
 }  
.navigation {
    height:23;
	background:#a5c639 ;
	padding-bottom: 10px;
	border-top: 1px solid #666; 
	border-bottom: 1px solid #666; 
	margin-bottom: 15px; 
}
.navigationLogin {
    height:23;
	padding-bottom: 10px;
	margin-bottom: 15px; 
}
.navigation a{
padding: 0px 10px 12px 25px;
color:black;
}
.navigation a:hover,.navigation a:active, .navigation a:focus {   
	background:#e7f0d3;
	color:black;
}
.sidebar1 {
	float: left;
	width: 20%;
	background: ;
	padding-bottom: 10px;
}
.sidebar2 {
	float: right;
	width: 20%;
	background: ;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 80%;
	float: left;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

ul.nav {
padding: 5px 5px 5px 0px;
margin-bottom: 15px; 
}
li {
list-style: none;
text-align: left;
}

ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 30px;
	display: block; 
	text-decoration: none;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {   
	background: #a5c639;
}
.footer {
	padding: 4px 0;
	background: #a5c639;
	position: relative;
	clear: both; 
}
.button_example{
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.button_example:hover{
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}
</style><!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } 
ul.nav a { zoom: 1; }  
<![endif]-->