@charset "utf-8";
/* CSS Document for Kronos Test Report */
body {margin-left: 0px; margin-top: 0px; margin-bottom: 0px;background-color:#CCC; }
/* Layout Control Classes*/
.face{width:990px; background-color:#FFF;}
.header{width:100%; height:70px;}
.title{ height:70px; vertical-align:middle; font-size:28px; text-align:left; color:#333; line-height:70px; font-weight:bold; margin-right:10px;}
h1{ font-size:16px; }
h2{ font-size:14px; }
h3{ font-size:12px; font-weight:bold; text-align:left; height:15px; line-height:15px;}
/* Table Control Classes*/
.tabledefault{width:100%; text-align:left; margin-bottom:10px;border:1px;}
.tabhead{ height:20px; background-color:#819bcb; text-align:center; line-height:20px; font-weight:bold; }
.rowodd{ background-color:#CEECF5;text-align:center; }
.roweven{ background-color:#E0F8EC;text-align:center; }
